<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!-- page title -->
	<title>My Portfolio</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
	<!-- include jQuery library -->
	<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
	integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
	defer></script>
	<!-- include jQuery library local file if cdn link doesn't work -->
	<script>window.jQuery || document.write('<script src="js/jquery-3.6.0.min.js" defer><\/script>')</script>
</head>
<body>
	<a class="accessibility" href="#main">Skip to Content</a>
	<noscript>
		<div>Javascript must be enabled for the correct page display</div>
	</noscript>
	<div class="wrapper">
		<header class="header">
			
		</header>
		<main class="main" id="main">
			
		</main>
		
	</div>
</body>
</html>
