// stylelint-disable selector-no-qualifying-type, selector-max-compound-selectors

// -----------------------------------------------------------------------------
// This file contains all styles related to the form elements of the site
// -----------------------------------------------------------------------------

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'] {
	@include transition(border-color);
	background-color: transparent;
	width: 100%;


	&:focus,
	&:hover {
		box-shadow: none;
		outline: none;
	}
}
