
// -----------------------------------------------------------------------------
// This file contains typography styles.
// -----------------------------------------------------------------------------

///*
//  Set up a decent box model on the root element
//*/

// set html { font-size: 62.5%; } if you want to make 1rem equal to 10px. dot not use it with css frameworks like bootstrap. tailwind etc.

/*
  Basic typography style for copy text
*/
body {
  color: $body-color;
  font-family: $font-family-base;
  font-size: map-get($font-sizes, "base");
  line-height: $line-height-base;
  font-weight: $font-weight-medium;


  @include media(">=tablet") {
    font-size: map-get($font-sizes, "xl");
  }
}

/*
  Basic styles for links
*/
a {
  @include transition(color);
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    text-decoration: none;
  }
}

ul,
ol,
dl,
p {
  margin: 0 0 $paragraph-margin-bottom;

  @include media('>=tablet') {
    margin-bottom: 1.0417vw;
  }

  &:last-child {
    margin-bottom: 0;

    @include media('>=tablet') {
      margin-bottom: 0;
    }
  }
}

/*
  Basic styles for typography, generate classes for sizes provided into sass-map $font-sizes
  Using fluid type behavior
*/

// @each $name, $value in $font-sizes {
//   .text-size-#{$name} {
//     $max-value: map-get($font-sizes-max, $name);

//     @include fluid-type($value, $max-value);
//   }
// }

/*
  Basic styles for headings, generate classes for sizes provided into sass-map $font-sizes
  Using fluid type behavior
*/

@each $name, $value in $headings-sizes {
  #{$name},
  .#{$name} {
    font-size: map-get($headings-sizes, $name);
    margin: 0 0 $headings-margin-bottom;
    line-height: $headings-line-height;
    color: $white;

    @include media(">=tablet") {
      font-size: map-get($headings-sizes-max, $name);
      margin-bottom: 0.625vw;
    }
  }
}


