// -----------------------------------------------------------------------------
// This file contains all styles related to the common layout of the site
// -----------------------------------------------------------------------------

body {
  background-color: $body-bg;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

// skip links
.accessibility {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus {
    position: static;
    width: auto;
    height: auto;
  }
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;

  @include media(">=tablet") {
    padding: 0 1.0417vw;
    max-width: 75vw;
  }
}

.site-section {
  padding: 55px 0;

  @include media('>=tablet') {
    padding: 4.1667vw 0;
  }
}

